<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesevensky.ttms.ttmsprovidermovies19527.dao.movies.MoviesDao">

    <resultMap id="moviesAndDetailsMap"  type="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
        <id column="movie_Id" property="movieId" />
        <result column="movie_Name" property="movieName" />
        <result column="movie_State" property="movieState" />
        <result column="movie_DefaultImage" property="movieDefaultImage" />
        <result column="movie_DetailImage" property="movieDetailImage" />
        <result column="movie_BeginTime" property="movieBeginTime" />
        <result column="movie_Author" property="movieAuthor" />
        <result column="movie_ScriptWriter" property="movieScriptWriter" />
        <result column="movie_Actor" property="movieActor" />
        <result column="movie_Country" property="movieCountry" />
        <result column="movie_Language" property="movieLanguage" />
        <result column="movie_Length" property="movieLength" />
        <result column="movie_SalesVolume" property="movieSalesVolume" />
        <result column="movie_Grade" property="movieGrade" />
        <result column="movie_Type" property="moviesTypes.typeNumber" />
        <result column="movie_DetailTest" property="movieDetailTest" />
        <result column="movie_Type" property="movieTypeNumber" />
<!--        <collection property="moviesTypes.moviesTypes"-->
<!--                    select="com.thesevensky.ttms.ttmsprovidermovies19527.dao.movies.MoviesTypeDao.queryAllByNumber"-->
<!--                    column="movie_Type"  />-->
<!--        <result column="movie_Type" property="moviesTypes.typeNumber" />-->
    </resultMap>

    <resultMap id="oneMap"  type="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
        <id column="movie_Id" property="movieId" />
        <result column="movie_Name" property="movieName" />
        <result column="movie_State" property="movieState" />
        <result column="movie_DefaultImage" property="movieDefaultImage" />
        <result column="movie_DetailImage" property="movieDetailImage" />
        <result column="movie_BeginTime" property="movieBeginTime" />
        <result column="movie_Author" property="movieAuthor" />
        <result column="movie_ScriptWriter" property="movieScriptWriter" />
        <result column="movie_Actor" property="movieActor" />
        <result column="movie_Country" property="movieCountry" />
        <result column="movie_Language" property="movieLanguage" />
        <result column="movie_Length" property="movieLength" />
        <result column="movie_SalesVolume" property="movieSalesVolume" />
        <result column="movie_Grade" property="movieGrade" />
        <result column="movie_Type" property="moviesTypes.typeNumber" />
        <result column="movie_DetailTest" property="movieDetailTest" />
        <result column="movie_Type" property="movieTypeNumber" />
        <!--        <collection property="moviesTypes.moviesTypes"-->
        <!--                    select="com.thesevensky.ttms.ttmsprovidermovies19527.dao.movies.MoviesTypeDao.queryAllByNumber"-->
        <!--                    column="movie_Type"  />-->
        <result column="movie_Type" property="moviesTypes.typeNumber" />
    </resultMap>

    <resultMap id="moviesMap" type="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
        <id column="movie_Id" property="movieId" />
        <result column="movie_Name" property="movieName" />
        <result column="movie_State" property="movieState" />
        <result column="movie_Author" property="movieAuthor" />
        <result column="movie_Actor" property="movieActor" />
        <result column="movie_Country" property="movieCountry" />
        <result column="movie_Language" property="movieLanguage" />
        <result column="movie_Length" property="movieLength" />
        <result column="movie_DefaultImage" property="movieDefaultImage" />
        <result column="movie_BeginTime" property="movieBeginTime" />
        <collection property="moviesTypes.moviesTypes"
                    select="com.thesevensky.ttms.ttmsprovidermovies19527.dao.movies.MoviesTypeDao.queryAllByNumber"
                    column="movie_Type"  />
<!--        <result column="movie_Type" property="moviesTypes.typeNumber" />-->
    </resultMap>


    <resultMap id="idMap" type="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
        <id column="movie_Id" property="movieId" />
        <result column="movie_Name" property="movieName" />
    </resultMap>
    <insert id="insertMovies">
        insert into movies(ID, movie_Id , movie_Name, movie_State, movie_DefaultImage,
                           movie_BeginTime, movie_Author, movie_ScriptWriter, movie_Actor, movie_Country,
                           movie_Language, movie_Type, movie_Length, movie_SalesVolume, movie_Grade,movie_DetailTest)
                values (#{movieName} , null , #{movieName},#{movieState},#{movieDefaultImage},#{movieBeginTime},
                        #{movieAuthor},#{movieScriptWriter},#{movieActor},#{movieCountry},#{movieLanguage},
                #{movieTypeNumber} ,#{movieLength},#{movieSalesVolume},#{movieGrade},#{movieDetailTest} )
    </insert>
    <update id="updateMovies">
        update movies set movie_Name = #{movieName}, movie_State = #{movieState},movie_DefaultImage = #{movieDefaultImage},
            movie_BeginTime = #{movieBeginTime}, movie_Author = #{movieAuthor}, movie_ScriptWriter = #{movieScriptWriter},
            movie_Actor = #{movieActor}, movie_Country = #{movieCountry}, movie_Language = #{movieLanguage},
            movie_Type = #{movieTypeNumber}, movie_Length = #{movieLength}, movie_SalesVolume = #{movieSalesVolume},
            movie_Grade = #{movieGrade} , movie_DetailTest = #{movieDetailTest}
        where movie_Id = #{movieId}
    </update>
    <delete id="deleteMovies">
        delete from movies where movie_Id = #{id}
    </delete>
    <select id="queryAll" resultMap="moviesMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
          select * from movies
    </select>
    <select id="queryById" resultMap="moviesMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
        select * from movies where movie_Id = #{id}
    </select>
    <select id="queryByTypeBit" resultMap="moviesMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
        select * from movies where movie_Type &amp; (1 &lt;&lt; #{bit}) != 0
    </select>
    <select id="queryAllOfDetailed" resultMap="moviesAndDetailsMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
        select * from movies
    </select>
    <select id="queryByIdOfDetailed" resultMap="oneMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
        select * from movies where movie_Id = #{id}
    </select>
    <select id="queryByTypeBitOfDetailed" resultMap="moviesAndDetailsMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
        select * from movies where movie_Type &amp; (1 &lt;&lt; #{bit}) != 0
    </select>
    <select id="queryByStatus" resultMap="moviesMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies">
        select * from movies where movie_State = #{status}
    </select>
    <select id="queryByStatusOfDetailed" resultMap="moviesAndDetailsMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies" >
        select * from movies where movie_State = #{status}
    </select>
    <update id="updateMoviesForStatus">
        update movies set movie_State = #{status} where movie_Id = #{movieId}
    </update>
    <select id="queryByAfterTimeForNow" resultMap="moviesMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies" >
        select * from movies where movie_BeginTime > #{time}
    </select>
    <select id="queryByNotDetails" resultMap="oneMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies" >
        select * from movies where movie_Id = #{id}
    </select>
    <select id="queryForId" resultMap="idMap" resultType="com.thesevensky.ttms.moviesmanageapi.pojo.movies.Movies" >
        select * from movies where movie_Id = #{id}
    </select>
    <update id="updateMoviesForVol">
        update movies set movie_SalesVolume = movie_SalesVolume + #{vol} where movie_Id = #{id}
    </update>
    <select id="queryByVolForDesc" resultMap="moviesMap">
        select * from movies order by movie_SalesVolume desc
    </select>

</mapper>